.subject-detail-info-description{
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
   padding: 16px;
}

.subject-detail-info-description-title{
    font-size: 36px;
    font-weight: bold;
}