.post {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
}

/* Tùy chỉnh kích thước hình ảnh */
.post img {
    width: 100%;
    height: 200px; /* Đặt chiều cao cố định cho hình ảnh */
    object-fit: cover; /* Đảm bảo hình ảnh vừa với kích thước khung */
}
