.subject-detail-lesson {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
   
  padding: 16px;
  font-family: Udemy Sans ",-apple-system,BlinkMacSystemFont,Roboto," Segoe UI
    ",Helvetica,Arial,sans-serif," Apple Color Emoji "," Segoe UI Emoji ","
    Segoe UI Symbol;
}

.subject-detail-lesson-left {
  float: left;
}

.subject-detail-lesson-right {
  float: right;
}

.subject-detail-lesson-name {
  padding: 16px 16px 0px 16px;
  font-weight: 700;
  line-height: 1.2;
}

.subject-detail-topic-name {
  width: 50%;
  font-weight: 700;
  line-height: 1.2;
}

.subject-detail-subject-detail-topic {
  margin-top: 20px;
}

.subject-detail-topic-content {
  padding: 16px 16px 16px 16px;
  height: 72px;
  background-color: #f7f9fa;
  border-bottom: 1px solid #d1d7dc;
}

.subject-detail-topic-content:hover {
  cursor: pointer;
}

.subject-detail-topic {
  width: 100%;
  background-color: #f7f9fa;
}

.subject-detail-topic-name{
    width: 70%;
}

.subject-detail-subject-detail-lesson-list {
  background-color: #ffffff;
  width: 100%;
}

.subject-detail-subject-detail-lesson-list-content {
  height: auto;
  width: 100%;
  border-bottom: 1px solid #d1d7dc;
}

.subject-detail-lesson-content-detail {
  padding: 16px 0px;
  height: 72px;
  border-bottom: 1px solid #d1d7dc;
  text-decoration: none;
  text-align: center;
}

.subject-detail-lesson-content-detail:hover {
  background-color: #d1d7dc;
  cursor: pointer;
  color: black;
}

.subject-detail-lesson-content-detail a:hover {
  background-color: #d1d7dc;
  cursor: pointer;
  color: black;
  text-decoration: none;
}


.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

/* CSS */
.active-lesson {
  background-color: #d1d7dc; /* Màu sắc của bài học hiện tại */
  font-weight: bold; /* Các thuộc tính CSS khác */
}

.subject-detail-lesson-name{
}

.subject-detail-content-name-title{
  margin-bottom: 20px;
}

.subject-detail-content{
  font-size: 36px;
}