.quiz-result-wrap{
    padding: 40px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.16);
}


.quiz-result-chart{
    width: 200px;
    height: 200px;
    margin: 20px 0 0 120px;
}