


.create-post-container{
    margin: 10px 12px 52px 12px;
    padding: 32px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.16);
 
}

.create-post-header-title{
    font-weight: bolder;
    text-align: center;
}

.create-post-button-wrap{
    display: flex;
    margin: auto 0;
    justify-content: end;
}

.create-post-button{
    padding: 10px;
    background-color: black;
    color: white;
}

.create-post-button:hover{
    opacity: 0.7;
}

.creat-post-quill .ql-container{
    overflow: scroll;
    height:660px;
    
}

.create-post-image-preview{
    width:100%;
    height:auto;
    text-align: center;
}




.create-post-right{
    text-align: center;
    
}

.create-post-brief,
.create-post-cate,
.create-post-image{
    padding: 20px 10px;
    border-bottom: 1px solid black;
    background-color: #F5F5F5;
    
}

.create-post-data-title{
    font-size: 36px;
    font-weight: bold;
}

.create-post-brief-description,
.create-post-cate-data{
    padding: 10px 0;
    margin: 10px 0;
    width: 100%;
}

.create-post-sub-info{
    margin-bottom: 16px;
}

.create-post-brief-description{
    min-height: 200px;
    height: auto;
    resize: none;
}