/* Tùy chỉnh cấu trúc giao diện */
.answer-group {
    display: flex;
    justify-content: space-between;
}
.form-control{
    margin: 1px 15px 1px 1px;
}
/* Định dạng các thành phần khác của giao diện theo nhu cầu của bạn */
