.quiz-attempt-wrap {
  marign-bottom: 10px;
}

.quiz-attempt-right {
  padding: 0 10px 10px 10px;
}

.quiz-attempt-left {
}

.quiz-attempt-navigate-box {
  border: 1px solid black;
  padding: 8px 10px;
  width: 100%;
  text-align: center;
}

.quiz-attempt-navigate-button-wrap {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 12px 12px 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.16);
  height: 300px;
}

.quiz-attempt-navigate-button-element {
  flex: 1 0 16%; /* Điều chỉnh giá trị flex để điều chỉnh kích thước nút */
  max-width: 16%; /* Đảm bảo chỉ có 6 nút trên một dòng */
  margin: 5px;
}

.quiz-attempt-navigate-content-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.quiz-attempt-navigate-header {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.quiz-attempt-answer-choice {
  display: flex;
}

.quiz-attempt-ques-title {
  font-size: 20px;
  font-weight: bold;
}

.quiz-attempt-content-wrap {
  margin-left: 40px;
  padding: 40px 20px;
  height: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.16);
}

.quiz-attempt-handle-submit {
  text-align: center;
}

.quiz-attempt-answer-wrap {
  margin-top: 40px;
}

.quiz-attempt-btn-submit-wrap {
  display: flex;
  justify-content: space-evenly;
}
