.quiz-attempt-wrap {
    marign-bottom: 10px;
}

.quiz-attempt-right {
  
  padding: 10px;
  
 
  
}

.quiz-attempt-navigate-box {
  border: 1px solid black;
  padding: 8px 10px;
  width: 100%;
  text-align: center;
}

.quiz-attempt-navigate-button-wrap {
  margin-top: 32px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.16);
  height: 300px;
}

.quiz-attempt-navigate-button-element {
    flex: 1 0 16%; /* Điều chỉnh giá trị flex để điều chỉnh kích thước nút */
  max-width: 16%; /* Đảm bảo chỉ có 6 nút trên một dòng */
  margin: 5px; 
}

.quiz-attempt-navigate-content-wrap {
  display: flex;
  flex-wrap: wrap;
}

.quiz-attempt-navigate-header{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.quiz-attempt-answer-choice{
  display: flex;
}