.blog-entry {
    border: 2px solid #ddd;
    padding: 15px;
    background-color: #fff;
    height: 95%; /* Đảm bảo tất cả blog entry có độ cao bằng nhau */
    margin-bottom: 50px;
}


.blog-entry img {
    max-width: 100%;
    height: 90%; /* Đảm bảo tất cả hình ảnh có độ cao bằng nhau */

}
.search-box{
    margin-bottom: 10px;
}
.category-box{
    margin-bottom: 10px;
}
/* Các CSS khác của blog-entry không thay đổi */


.date {
    font-size: 14px;
    color: #888;
}

.post-title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

p {
    font-size: 16px;
    color: #333;
}

.read-more {
    color: #007bff;
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}

.category {

    padding: 10px;
    background-color: #f8f8f8;
    margin-top: 20px;
}

.posts-entry-title {
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
    letter-spacing: .05rem;
}


.posts-entry .blog-entry .img-link {
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 10px;
}
.posts-entry-title {
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
    letter-spacing: .05rem;
    text-align: center;
}
.img-large {
    width: 100%; /* Đặt chiều rộng ảnh thành 100% để làm cho ảnh to ra */
    height: auto; /* Đảm bảo tỷ lệ khung hình không bị biến đổi */
}

hr.tm-hr-primary {
    border-top: 5px solid rgb(0, 0, 0);
}

.image-container {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    border-radius: 10px; /* Bo cong các góc */
    overflow: hidden; /* Để ảnh không tràn ra ngoài khung bo cong */
}
