/* unauthorized-error.css */

/* Phần tổng quan */
.private-content {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
}




/* Chú ý: Bạn có thể điều chỉnh kích thước, màu sắc và kiểu font theo ý muốn. */
