.dashboard-wrap{
    /* background-color: #F6F8FC; */
 
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.16);
}

.dashboard-title{
    font-size:36px;
    font-weight:bold;
}

.text-center{
    font-family: 'Chakra Petch', sans-serif;
}

.dashboard-box-header{
    font-size: 36px;
        color: #9A3B3B;
        font-weight:700;
}

.dashboard-box-content{
        font-size: 15px;
    font-weight: 600;
}